{# templates/form/form_errors.html.twig #}
{% block form_errors %}
    {% if form.vars.errors|length > 0 %}
        <div class="alert alert-danger">
            {% for error in form.vars.errors %}
                <div>{{ error.message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block form_row %}
    {# <div class="form-group"> #}
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }} 
    {# </div> #}
{% endblock %}
