{% extends 'base.html.twig' %}

{% block title %}Create New Task Assignment
{% endblock %}

{% block body %}
	<div class="card mt-5">
		<div class="card-header">
			Create New Task Assignment
			<div style="float: right;" class="d-flex">
				<a href="{{ path('app_task_assignment_index') }}" class="btn btn-sm btn-warning" style="color:white;">back to list</a>
			</div>
		</div>
		<div class="card-body">
			{{ include('task_assignment/_form.html.twig') }}
		</div>
	</div>
{% endblock %}
