{% extends 'base.html.twig' %}

{% block title %}New TaskAssignment{% endblock %}

{% block body %}
    <h1>Create new TaskAssignment</h1>

    {{ include('task_assignment/_form.html.twig') }}

    <a href="{{ path('app_task_assignment_index') }}">back to list</a>
{% endblock %}
